{% extends 'base.html' %}

{% block title %}
Разработчик
{%endblock%}

{% block body %}
<div class="container">
    <h1>Разработчик</h1>
    <h5><p>Привет! Меня зовут Тамерлан, мне 17 лет. Я начинающий веб-разработчик с огромной страстью к программированию, которым я занимаюсь с 12 лет. Моя цель - посвятить всю свою жизнь этому увлекательному делу.</p> 
        <p>Этот проект - моя учебная площадка, где я оттачиваю свои навыки в создании веб-сайтов. Я решил сделать этот сайт именно на эту тему, потому что я заметил, что у многих людей бывает огромное желание выговориться, но иногда им не с кем поделиться или они не знают, где это сделать. В такие моменты я надеюсь, что мой сайт станет прекрасным союзником и поддержкой.</p>
        <p>Этот проект будет добавлен в моё портфолио, и я очень благодарен за ваше внимание. Будет замечательно, если мой проект поможет кому-то справиться с нагрузкой и найти облегчение.</p>
        <p>Спасибо ещё раз, и я всегда готов поделиться своими знаниями и опытом!</p></h5>
</div>
{%endblock%}