{% extends 'base.html' %}

{% block title %}
Главная страница
{%endblock%}

{% block body %}
<div class="container">
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis">Share Your Story</h1>
    <p class="fs-5 text-body-secondary">Откройте дверь своей истории и наш сайт станет платформой, где каждый может поделиться своими проблемами, обрести поддержку и найти взаимопонимание. Мы предлагаем убежище для ваших секретов, где слова становятся исцеляющим инструментом. Наши страницы наполняются искренними рассказами о борьбе, надежде и преодолении, чтобы каждый, кто попадает сюда, знал, что он не одинок. Добро пожаловать в мир, где мы вместе обнимаем сложности жизни и строим связи, которые превращают невозможное в возможное</p>
    <a class="btn btn-warning" href="/create-article">Начать</a>
</div>

{%endblock%}